@font-face {
    font-family: 'Leroy Lettering';
    src: url('LeroyLetteringLightBeta01.woff2') format('woff2');
}

#dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000a0;
    z-index: 99999999;
}

#dialog-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vh;
    background: #ffffff;
}


#retry-button {
    position: absolute;
    width: 4vh;
    height: 4vh;
    top: 0;
    left: 0;
    background: #b0b1b0;
    border-radius: 25%;
    cursor: pointer;
    outline: 0.35vh solid black;
}


#play-area {
    width: 29vh;
    height: 29vh;
    position: relative;
}

.play-segment {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#segment-1 {
    clip-path: polygon(0% 0%, 0% 48.5%, 48.5% 48.5%, 48.5% 0%);
    background: #b0b1b0;
}

#segment-2 {
    clip-path: polygon(48.5% 51.5%, -10% 51.5%, 11.2% 98%);
    background: #b0b1b0;
}

#segment-3 {
    clip-path: polygon(48.5% 56%, 17.1% 96%, 48.5% 110%);
    background: #b0b1b0;
}

#target {
    clip-path: polygon(51.5% 0%, 100% 0%, 100% 100%, 51.5% 100%);
    background: #b0b1b0
}


#attempts {
    display: flex;
    flex-direction: column;
    margin: 1.25vh;
}

.attempt {
    display: flex;
    flex-direction: row;
}

.attempt .color {
    background: #b0b1b0;
}

#attempts .attempt-result {
    background: #b0b1b0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-width: 1.3vh;
    outline-color: #b0b1b0;
    outline-offset: -0.2vh;
    clip-path: none;
}

.attempt-result span {
    font-size: 1.8vh;
    font-weight: 600;
    z-index: 10;
}


#colors {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

#colors .color {
    cursor: pointer;
}

#colors-top, #colors-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#remove-color, #finalize-attempt {
    background: #b0b1b0;
}

.color {
    width: 4.5vh;
    height: 4.5vh;
    margin: 1vh;
    outline: 0.75vh solid black;
}

.attempt .color {
    margin: 1.65vh;
    outline-offset: 0.75vh;
    width: 5vh;
    height: 5vh;
}

.roundSquare {
    border-radius: 25%;
    aspect-ratio: 1;
}

.circle {
    clip-path: circle(50% at 50% 50%);
    border-radius: 999999px;
    aspect-ratio: 1;
}

body {
    position: fixed;
    padding: none;
    margin: none;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

* {
    font-family: 'Leroy Lettering';
}